<html>

<head>
   <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet">
   <link href="{{url_for('static', filename='stylesheet.css')}}" rel="stylesheet">
   <script src="{{url_for('static', filename='bootstrap.min.js')}}" ></script>
</head>

<body>

    <!-- NavBar -->
    <nav class="navbar navbar-default navbar-expand-lg navbar-light bg-light justify-content-between shadow p-4 mb-3 navbar-fixed-top">
        <div class="container-fluid">
            <div style="margin-left: 20px;">
                <a class="navbar-brand" href="#">Students</a>
            </div>
            <div class="navbar-nav" style="margin-right: 20px;">
                <a class="nav-item nav-link" href="{{ url_for('index') }}">Home</a>
                <a class="nav-item nav-link" href="{{ url_for('institute') }}">Institutions</a>
                <a class="nav-item nav-link " href="{{ url_for('courses') }}">Courses</a>
                <a class="nav-item nav-link active" href="{{ url_for('student') }}">Students</a>
                <a class="nav-item nav-link" href="{{ url_for('faculty') }}">Faculties</a>
            </div>
        </div>
    </nav>

    <!-- Body Section -->
    <section class="container-fluid row" style="justify-content: center;">
      {%for i in range(0, len)%}
      <div class="card shadow card-custom" >
         <div>
             <img style="width:100%;" src="{{studentlist[i][0]}}" alt="{{studentlist[i][1]}}" /><br />
         </div>
         <div style="margin: 10px;margin-top: 18px; ">
             <h4 style="text-align: center;"">{{studentlist[i][1]}}</h4>
             <p style="margin-top:10px; text-align: justify;">{{studentlist[i][2]}}</p>
         </div>
      </div>
      {%endfor%}
    </section>

    <!-- Footer -->
    <footer class="foot justify-content-between">
        <h6 style="padding-top:10px;">2021, All Rights Reserved @ Sathyajith K P</h6>
          <ul>
              <a href="{{ url_for('contact') }}">About Us</a>
              <a href="{{ url_for('contact') }}">Contact Us</a>
              <a href="https://twitter.com/"><img style="background-color: black;" src="/static/icons/twitter.png"/></a>
              <a href="https://www.instagram.com/accounts/login/"><img style="background-color:black;" src="/static/icons/instagram.jpg"/></a>
              <a href="https://www.facebook.com/"><img style="background-color:black;" src="/static/icons/facebook.png"/></a>
            </ul>
      </footer> 
</body>  

</html>